---
layout: layouts/layout.liquid
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [ "all" ]
eleventyComputed:
  title: "Tagged '{{ tag }}'"
permalink: "/tags/{{ tag | slugify }}/"
---

<h1>Tagged '{{ tag }}'</h1>
<ul class="list-gallery">
  {% for item in collections[tag] %}
    <li>
      <a href="{{ item.url }}">
        <img src="{{item.data.images[0].image}}">
        <h2>{{ item.data.title }}</h2>
      </a>
    </li>
  {% endfor %}
</ul>

