---
layout: layouts/layout.liquid
---

<h1>{{ title }}</h1>
<p>{{ page.date | niceDate }}</p>

{{ body }}

<ul class="list-gallery">
  {% for image in images %}
    <li>
      <p><img src="{{ image.image }}"></p>
    </li>
  {% endfor %}
</ul>

<ul class="list-gallery">
  {% for image in references %}
    <li>
      <p><img src="{{ image.image }}"></p>
    </li>
  {% endfor %}
</ul>

{% for item in tags %}
  <p>{{ item }}</p>
{% endfor %}
