---
layout: layouts/layout.liquid
---

<main>
  {{ content }}
</main>

<aside>
  <h2>Featured</h2>
  <ul class="list-portfolio">
    {% for item in collections.featured limit:3 %}
      <li>
        <a href="{{ item.url }}">
          <p><img src="{{item.data.images[0].image}}"></p>
          <p>{{ item.data.title }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>

<aside>
  <h2>Latest</h2>
  <ul class="list-portfolio">
    {% for item in collections.portfolio limit:3 %}
      <li>
        <a href="{{ item.url }}">
          <p><img src="{{item.data.images[0].image}}"></p>
          <p>{{ item.data.title }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
