---
layout: layouts/layout.liquid
---

<main>

  <header>
    <h1>{{ title }}</h1>
    <p class="meta">{{ page.date | niceDate }}</p>
  </header>

  <div class="portfolio-body">
    {{ content }}
  </div>

  <div class="portfolio-gallery">
    <h2>Gallery</h2>
    <ul class="list-entry">
      {% for image in images %}
        <li>
          <img src="{{ image.image }}">
          <p>{{ image.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

  <aside class="portfolio-references">
    <h2>References</h2>
    <ul class="list-entry">
      {% for image in references %}
        <li>
          <img src="{{ image.image }}">
        </li>
      {% endfor %}
    </ul>
  </aside>

  <aside class="portfolio-tags">
    <ul class="list-tags">
      {% for item in tags %}
        <li><a href="/tags/{{ item | slugify }}">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </aside>

</main>
