---
layout: layouts/page.liquid
---

<header class="entry-header">
  <h1><a href=".">{{ title }}</a></h1>
  <div class="meta">
    <p class="meta-date"><a href=".">{{ page.date | niceDate }}</a></p>
    <ul class="list-tags meta-tags">
      {% assign filteredTags = tags | filterTags %}
      {% for item in filteredTags %}
        <li><a href="/tags/{{ item | slugify }}">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>

<div class="section-entry entry-body">
  {{ content }}
</div>

<div class="section-entry entry-gallery">
  <h2>Gallery</h2>
  <ul class="list-entry">
    {% for image in images %}
      {% render "list-entry-item.liquid", image: image %}
    {% endfor %}
  </ul>
</div>

<aside class="section-entry entry-references">
  <h2>References</h2>
  <ul class="list-entry">
    {% for image in references %}
      {% render "list-entry-item.liquid", image: image %}
    {% endfor %}
  </ul>
</aside>
