---
layout: layouts/layout.liquid
---

<h1>{{ title }}</h1>
<p>{{ page.date | niceDate }}</p>

{{ body }}

<h2>Gallery</h2>

<ul class="list-entry">
  {% for image in images %}
    <li>
      <img src="{{ image.image }}">
      <p>{{ image.description }}</p>
    </li>
  {% endfor %}
</ul>

<h2>References</h2>

<ul class="list-entry">
  {% for image in references %}
    <li>
      <img src="{{ image.image }}">
    </li>
  {% endfor %}
</ul>

<ul class="list-tags">
  {% for item in tags %}
    <li><a href="/tags/{{ item }}">{{ item }}</a></li>
  {% endfor %}
</ul>
